/* Global styles */
* {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

/* Frame du jeu */
QGraphicsView {
    background-image: url(:/assets/floor2.jpg);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 550px;
    min-height: 570px;
    margin: 10px auto;
}

/* Boutons */
QPushButton {
    background-color: #1E90FF;
    color: white;
    border-radius: 8px;
    padding: 8px 10px; /* Ajuster le padding pour réduire la taille */
    font-size: 14px;
    border: 1px solid #1C86EE;
    min-width: 40px; /* Réduire la largeur minimale */
    max-width: 120px; /* Ajouter une largeur maximale */
    text-align: center;
}

QPushButton:hover {
    background-color: #4682B4;
    border-color: #4169E1;
    cursor: pointer;
}

/* ComboBox */
QComboBox {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
}

/* Tables */
QTableWidget {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 150px; /* Ajuster la largeur minimale */
    max-width: 250px; /* Ajouter une largeur maximale */
    min-height: 100px; /* Réduire la hauteur minimale */
}

QHeaderView::section {
    background-color: #1E90FF;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: none;
}

/* Labels */
QLabel {
    font-size: 14px; /* Réduire la taille de la police */
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
    text-align: center;
    max-width: 150px; /* Limiter la largeur */
}

/* Inputs */
QLCDNumber {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    min-width: 40px; /* Réduire la largeur minimale */
    max-width: 120px; /* Ajouter une largeur maximale */
}

/* Layout spacing */
QVBoxLayout, QHBoxLayout {
    margin: 10px;
    spacing: 15px;
}
